@import "reset.css";
/* google fonts 에서 원하는 글꼴을 가져올 수 있다. */
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  color: #282829;
  font-family: "Saira Stencil One", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Saira Stencil One",
    "Helvetica Neue", cursive;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

main {
  position: relative;
  width: 400px;
  height: 750px;
  background-color: #ffffff;
  border-radius: 60px;
  box-shadow: 0px 0px 10px 3px #a2abb9 inset, 5px 10px 40px 10px #a2abb9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
}

main section {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff 40%, #d9d9d9);
}

main section header.section__header {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
}

main section article.popular-article header.popular__header {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: 30px 0 20px 0;
}

header.popular__header a {
  color: #e64f60;
}

main section article.popular-article ul.popular__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul.popular__list a li {
  width: 170px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

ul.popular__list a:first-child li {
  background: linear-gradient(180deg, #ffffff00 60%, #222121bb),
    url("img/cook1.png");
}

ul.popular__list a:nth-child(2) li {
  background: linear-gradient(180deg, #ffffff00 60%, #222121bb),
    url("img/cook2.png");
}
ul.popular__list a:nth-child(3) li {
  background: linear-gradient(180deg, #ffffff00 60%, #222121bb),
    url("img/cook3.png");
}
ul.popular__list a:last-child li {
  background: linear-gradient(180deg, #ffffff00 60%, #222121bb),
    url("img/cook4.png");
}

main section article.other-article header.other__header {
  font-size: 17px;
  margin: 25px 0 15px 0;
}
main section article.other-article ul.other__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section article.other-article ul.other__list li {
  width: 90%;
  background-color: white;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px;
}

ul.other__list li i {
  color: #e64f60;
}

ul.other__list li div {
  font-size: 13px;
}
ul.other__list li span {
  opacity: 0.4;
}

nav {
  position: absolute;
  bottom: 30px;
  background-color: #ffffff;
  width: 94%;
  padding: 20px 0;
  border-radius: 20px 20px 40px 40px;
}

nav ul.menu_list {
  display: flex;
  justify-content: space-around;
}

nav ul.menu_list li.menu_item {
  font-size: 20px;
  opacity: 0.6;
}

nav ul.menu_list li.active {
  color: #e85465;
}
