/* 
    all:unset은 디폴트 css값을 없애주는 최신기능이다.
    하지만 엣지와 익스플로러에서 지원하지 않기 때문에 우리나라에서 사용하긴 힘들다.
    body * {
        all: unset;
    }    
*/
/* 
    reset.css의 내용들을 불러온다. 
    태그들은 디폴트 설정값이 있기 때문에 본격적으로 스타일작업을 하기전에 디폴트 값들을 리셋시켜주는게 좋다.    
    만약 초기화가 아닌 설정 통일(디폴트값은 브라우져마다 값이 다르기 때문에 브라우져별로 스타일이 다를 수 있다)을 하려면
    normalize.css를 검색하여 적용시킨다.(디폴트 값을 초기화 시키는게 아니라 같은값으로 설정해준다.)
*/
@import "reset.css";
@import "top-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "push.css";
/* google fonts 에서 원하는 글꼴을 가져올 수 있다. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
/* 
  flex를 사용할 경우 space-between사용으로 박스가 짤린다면 아래 설정을 해줘야 한다. 
  기본적으로 Box에 width를 300px를 준다면 페딩 left를 줬을때 width는 280px padding가 20px이 되야한다. 
  하지만 브라우저는 이를 허용하지 않고 300px에 20px더해 Box를 320px로 만들어 버린다.
  box-sizing: border-box 를 적용시키면 우리가 원하는 대로 padding값과 상관없이 box사이즈를 유지할 수 있다.
*/
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  /* 검은색은 그냥 black를 사용하는것 보다 약간 검은색을 쓰는것이 더 좋다. 다른사이트의 검은색을 참고하자  */
  color: #282829;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  /* 
    inherit은 부모요소로 부터 색을 받아오는것을 뜻한다.
    a태그의 설정을 이렇게 해주면 visited도 바뀐다.
  */
  color: inherit;
}
