nav.menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 30px;
  background-color: #ffffff;
  border-top: 1px solid #f1f1f1;
}

nav.menu > ul.menu_list {
  display: flex;
  justify-content: space-between;
}

nav.menu > ul.menu_list > li.menu_list_item {
  color: #5e5e5e;
}
.active > a > i {
  color: turquoise;
}

nav.menu > ul.menu_list > li.menu_list_item > a.menu_list_item_link {
  position: relative;
}

a.menu_list_item_link > div.push-count {
  /* a태그를 기준으로 붙여버린다. */
  position: absolute;
  top: -14px;
  right: -14px;
  color: white;
  background-color: turquoise;
  width: 33px;
  height: 27px;
  border-radius: 20px;
  border: 3px solid white;
  font-size: 13px;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
