* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 30%;
  height: 500px;
}

section i {
  font-size: 200px;
}

section.camera {
  background-color: #009e91;
  color: #d6f0f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.game {
  background-color: #f8a4a1;
  color: #1d1e4e;
  overflow: hidden;
}
section.internet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.internet .icon-box {
  width: 100%;
  height: 100%;
  background-color: #d6f0f9;
  color: #087db3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.5s ease-in;
}

section.internet .icon-box:hover {
  transform: scale(0.7, 0.5) translateY(-130px);
}

section article {
  background-color: #273949;
}

section.camera article {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
}

section.camera article:hover {
  opacity: 1;
  transform: translate(20px, 20px);
}

section.camera article header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.camera article header span {
  margin-bottom: 30px;
}

section.game .icon-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  transform: translateY(132px);
  transition: transform 0.5s ease-in;
}
section.game .icon-box:hover {
  transform: translateY(-1px);
}
section.game .icon-box i {
  margin: 30px 0 139px 0;
}
section.game article {
  width: 100%;
}

section.game article header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
}
section.game article header h3 {
  margin: 0;
}
section.game article header span {
  margin-right: 200px;
}

section.internet article {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

section.internet article header {
  margin: 400px 0 0 30px;
}

section.internet article header span {
  margin-right: 230px;
}

section article h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

section article span {
  color: #b9415f;
  font-size: 17px;
}

section article button {
  color: white;
  font-size: 21px;
  background-color: #d48897;
  padding: 5px 10px;
}
