@import "reset.css";
/* google fonts 에서 원하는 글꼴을 가져올 수 있다. */
@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #282829;
  font-family: "Caveat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Caveat", "Helvetica Neue", cursive;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.container {
  width: 400px;
  height: 900px;
}

section.shopping,
section.friend {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.shopping {
  background-color: black;
}

section.friend {
  background-color: black;
}

div.shopping-box {
  width: 96%;
  padding: 30px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
}
.shopping-box img {
  width: 100%;
}
h3.item-name {
  font-weight: 700;
  font-size: 30px;
}
span.item-description {
  font-size: 23px;
  opacity: 0.6;
}
.shopping-box div.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-box div.item-info .item-info__column .graystar {
  color: #d8dde6;
}
.shopping-box div.item-info .item-info__column .goldstar {
  color: #febd51;
}
div.friend-box {
  width: 93%;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: white;
  border-radius: 10px;
}
div.friend-box .friend-background-box {
  height: 220px;
  width: 100%;
  background-image: url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.friend-box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  left: 141px;
  top: 160px;
  border: 5px solid white;
}
div.friend-box .friend-info {
  height: 220px;
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.friend-box .friend-info .btn-box {
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.btn-box button {
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-box button.blue-btn {
  background-color: #6a75ff;
  color: #eaecff;
}
.btn-box button.white-btn {
  background-color: #eaecff;
  color: #6a75ff;
}
